
// This makes SB stories still visible in case of js exception
.sb-wrapper {
  position: relative !important;
  max-height: 300px;
  overflow-y: auto;
}

// Avoids infinite width producing errors on Chromatic due to the 25 millions pixels threshold passed
.fixed, .fixed-full, .fullscreen, .fixed-center, .fixed-bottom, .fixed-left, .fixed-right, .fixed-top, .fixed-top-left, .fixed-top-right, .fixed-bottom-left, .fixed-bottom-right {
  position: absolute !important;
}

.storybook-anti-oversize-wrapper {
  max-width: 2000px;
  overflow-y: auto;
  border: 1px solid #888;
}
